.anaglyphImageContainer {
    width: 100%;
    height: 75vh;
}
.anaglyphImage {
    width: auto;
    height: auto;
    object-fit: cover;
    max-width: 100%;       /* Constrain to the container's width */
    max-height: 75vh;
}

.anaglyphEditor {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

label, input {
    vertical-align: middle;
}

label, input {
    margin: 0 10px; /* Add space between the anaglyph editor components width ways*/
}

input[type="checkbox"] {
    accent-color: #000;
}