.imagePairContainerRow {
    display: flex; /* Use Flexbox for layout */
    justify-content: center; /* Necessary for loader to be centered too */
    height: 70vh; /* to always see the logo and the buttons*/
    margin-bottom: 10px;
    margin-top: 10px;
}

.image {
    max-width: 100%; /* Constrain to the container's width */
    max-height: 100%; /* Constrain to the container's height */
    object-fit: contain; /* Ensure images are not stretched */
}

.imagePairLeftRow {
    display: flex;
    justify-content: flex-end; /* Pushes content to the right */
    width: 50%;
}

.imagePairRightRow {
    display: flex;
    justify-content: flex-start; /* Pushes content to the left */
    width: 50%;
}

.imagePairContainerColumn {
    display: flex; /* Use Flexbox for layout */
    justify-content: center; /* Necessary for loader to be centered too */
    flex-direction: column;
    align-items: center;
    height: 70vh; /* to always see the logo and the buttons*/
    margin-bottom: 10px;
    margin-top: 10px;
}

.imagePairLeftColumn, .imagePairRightColumn {
    max-width: 100%; /* Full width in column layout */
    width: auto; /* override width: 50% from above */
    height: 50%;
    justify-content: center; /* Center content in column layout */
}

