@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
  font-family: 'DM Sans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(0, 0, 0, 1);
  background-color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.responsive_title {
  display: block;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 5%;
  height: auto;
}

.imagePairContainer {
    display: flex; /* Use Flexbox for layout */
    margin-bottom: 5%; /* Add space below the container */
    justify-content: center;
}

.imagePair {
    max-width: 100%; /* Ensure images take up at most half of the imagePairContainer */
    max-height: 80vh; /* Ensure images take at most 80% of the viewport height */
}

.imagePairWithTitle{
    display: block;
    text-align: center;
    width: 50%;
}

.anaglyphImage {
    max-width: 100%;
    max-height: 80vh; /* Ensure anaglyph take at most 80% of the viewport height */
}

.anaglyphButton {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 700;
    color: #fafafa;
    background-color: #000;
    border-width: 0;

    border-radius: 5px;
    cursor: pointer;
}

.anaglyphButton:hover {
    scale: 1.05;
}

.anaglyphButton:active {
    scale: 0.95;
}

.anaglyphEditor {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;;
}

label, input[type="range"] {
    vertical-align: middle;
}

label, input {
    margin: 0 10px;
}

label, input{
}

.loader {
    border: 5px solid #fafafa;
    border-top: 5px solid darkgrey;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    animation: spin 1s linear infinite;
    margin: auto; /* Center it */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}











